<section class="container">
    <div class="columns">
    <%# Room Heading %>
        <div class="column">
            <h1> <%= @room.title %> </h1>
        </div>
    <%# Room List %>
    <%= render "room"%>

    <%# Message chat box %>
    <%# Messages %>
        <div class="column is-three-quarters">
        Messages

        </div>    
    <%# Chat form with send button  %>
     
    </div>
</section>
